*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    background-color: #21D4FD;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size:  16px;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;    
}
header nav{
    height: 70px;
    background: #111;
    display: flex;
    justify-content: space-between;
}
.icono{
    display: none;
}
.enlaces{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.header2{
    background: transparent;
    height: 100vh;
}
.enlaces a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    font-weight: 600;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    padding: 0.6em;
    border: 1.5px solid #fff;
    border-radius: 0 50px 50px 30px;
}
.enlaces a i{
    margin: 3px;
}
.enlaces a:hover{
    background: #373B44;  
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  
    background: linear-gradient(to left, #4286f4, #373B44);
    color: #FFADFF;
}
nav .logo{
    height: 100%;
    margin-left: 80px;
}
nav .logo img{
    object-fit: cover;
    height: inherit;
}
.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    background-color: #21D4FD;
    text-align: center;
    height: 100vh;
    color: #fff;
}
.landing-page h1{
    font-size: 110px;
    letter-spacing: 3.5px;
    font-weight: 550;
}
.landing-page h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
}
.picture{
    height: 280px;
    width: 280px;
    transition: all 1s ease;
    border-radius: 25px;
}
.picture:hover{
    transition: all 2s ease;
    transform: scale(1.2,1.2);
    border-radius: 100%;
}
@media screen and (max-width:1080px){
    .enlaces{
        width: 60%;
    }
}
@media screen and (max-width:750px){
    body{
        margin-top: 60px;
    }
    .enlaces{
        width: 30%;
    }
    .icono{
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #fff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }
    .enlaces{
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #654ea3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .uno{
        -webkit-clip-path: circle(0% at 100% 0);
        clip-path: circle(0% at 100% 0);
    }
    .dos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }
    .enlaces a{
        font-size: 30px;
        font-weight: 600;
    }
}

@media screen and (max-width:640px){
    .enlaces a{
        font-size: 20px;
        font-weight: 600;
    }
}

/*
    para efecto circular del menu
        https://bennettfeely.com/
        https://bennettfeely.com/clippy/
    para colores gradientes
        https://uigradients.com/#UltraVoilet
        https://cssgradient.io/gradient-backgrounds/
*/

/* Efecto menu */
.headroom{
    transition: transform .3s ease;
}

.headroom--pinned{
    transform: translateY(0%);
}

.headroom--unpinned{
    transform: translateY(-100%);
}